# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio BS
.vs
JogoSFML
x64
Debug
JogoSFML.sln
JogoSFML.vcxproj
JogoSFML.vcxproj.filters
JogoSFML.vcxproj.user
CppProperties.json

#out (cmake)
/out/

#Personal Source Path Include file
/Include/DefineSource/SourcePath.h

#Leaderboard (Pra deixar em branco no github)
/Assets/Leaderboard.txt
